.sect-1 {
    height: 100vh;
    background: url("../../assets/img/backgrounds/h_img.jpg") top left / cover no-repeat;
  }

  .welcome {
    text-align: center;
    color: var(--bs-white);
  }

  .services {
    background: url("../../assets/img/backgrounds/s_image.jpg") top left / cover no-repeat;
  }